main {
	max-width: 70ch;
	margin: auto;
}
body {
	background-color: #222;
	color: #F2F2F2;
}
p {
	font-family: sans-serif;
}
a {
	color: LightSkyBlue;
}
a:visited {
	color: MediumPurple;
}
span.online {
	color: limegreen;
}
span.offline {
	color: Red;
}
.tooltip {
	text-decoration: underline dotted;
	cursor: help;
}
summary {
	cursor: pointer;
}
img {
	width: 30%;
	border: 1px solid black;
}
img.left {
	float: left;
	margin-right: 10px;
}
img.right {
	float: right;
	margin-left: 10px;
}
section {
	overflow: auto;
}
table,
td {
	border: 1px solid #666;
}
thead,
tfoot {
	background-color: #666;
	color: #fff;
}
