main {
	max-width: 70ch;
}
.gray {
	color: gray;
}
.indigo {
	color: indigo;
}
.green {
	color: green;
}
.red {
	color: red;
}
.lime {
	color: limegreen;
}
.blue {
	color: blue;
}
.yellow {
	color: yellow;
}
.purple {
	color: purple;
}
