img.dwarf, img.mob, img.shrine {
	width: 30%;
	border: 1px solid black;
}
img.left {
	float: left;
	margin-right: 10px;
}
img.right {
	float: right;
	margin-left: 10px;
}
span.eu:before {
	content: url(img/icons/europeanunion.png) / "European Union";
	margin: 0 0.2em;
}
summary.camera:before {
	content: url(img/icons/camera.png) / "Camera";
	margin: 0 0.2em;
}
